:root {
  --second: 0;
  --minute: 0;
  --hour: 0;
  --clock-size: 35rem;
}

.container {
  width: 100vw;
  height: 100vh;
}

.clock-body {
  width: var(--clock-size);
  height: var(--clock-size);
  margin: auto;
  margin-top: 2rem;
  border: 1rem black solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-center {
  position: relative;
  /* margin: 50%; */
  width: 0px;
  height: 0px;
}

.clock-body .hand {
  position: absolute;
  width: 1rem;
  background-color: black;
  transform-origin: 0.5rem 0.5rem;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding-top: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.hand-contents {
  position: absolute;
  transform: rotate(90deg);
  bottom: 0.9rem;
  width: 3rem;
  height: min-content;
  text-align: end;
}

.clock-body .hand.clock-hour {
  height: 9.5rem;
  transform: rotate(calc(30deg * var(--hour) + 180deg));
}

.clock-body .hand.clock-minute {
  height: 16.2rem;
  transform: rotate(calc(6deg * var(--minute) + 180deg));
}

.clock-body .hand.clock-minute .hand-contents {
  bottom: 1.1rem;
}

.clock-body .hand.clock-second {
  height: 13rem;
  transform: rotate(calc(6deg * var(--second) + 180deg));
}

.clock-body .hand.clock-second .hand-contents {
  bottom: 1.4rem;
}

.hide {
  display: none;
}
