.main {
  width: max-content;
  margin: auto;
  margin-top: calc(30vh);
}

#sounds button {
  margin: 0.75rem;
  background-color: lightgrey;
  border: 3.3px solid dimgrey;
  border-radius: 2.3px;
  width: 4.3rem;
  height: 3.5rem;
  transition-duration: 1s;
  transition-delay: 50ms;
}

#sounds button.active {
  border-color: rgb(255, 81, 81);
  transition-duration: 0.1s;
}

.button-key {
  text-transform: uppercase;
  font-size: 1rem;
}

.button-description {
  text-transform: uppercase;
}
